.matrix-canvas {
  display: block;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  opacity: 0.8;
  font-family: "Roboto Mono" monospace;
  color: lightskyblue;
}
.matrix-canvas:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 64px;
  background: linear-gradient(to bottom, rgba(254, 254, 254, 0), #000);
  background-image: linear-gradient(rgba(254, 254, 254, 0), rgb(0, 0, 0));
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
}
