.inputButton {
  font-size: 20px;
  background: lightskyblue;
  color: black;
  font-family: "Roboto Mono", monospace;
  font-weight: bolder;
}

.inputButton:hover {
  background-color: lightskyblue;
}
