.navbar {
  background-color: lightskyblue;
  color: white;
  display: flex;
  height: auto;
  align-items: center;
  align-content: center;
  justify-content:space-evenly;
  width: 95%;
  height: 80px;
  border-radius: 13px;

  top: 20px;

  box-shadow: 0 5px 15px black;

  position: relative;
}

.logo {
  color: white;
  justify-self: start;
  cursor: pointer;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  font-weight: bolder;
  margin-top: 10px;
  font-size: 50px;
  margin-left: 20px;
}

.nav-menu {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 5px;
  list-style: none;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  font-size: 20px;
  font-weight: bolder;
  margin-right: 10px;
}

.nav-links {
  text-decoration: none;
  color: white;
  padding: 0.7rem 0.7rem;
  white-space:normal;
}

.nav-links i {
  padding-right:1px;
}

.nav-links:hover {
  background: white;
  color:lightskyblue;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}
